{% extends "base.html" %}

{% block main_content %}
<div id="change-password-container" class="container-fluid bg-image">
	<form class="col-lg-4 col-md-6 offset-lg-4 offset-md-3 form-container" action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="h1 text-center text-success mb-md-4">Change Password</div>
		<div class="form-group">
			<input class="form-control form-control-transparent text-success" type="password" placeholder="New Password" id="password"/>
		</div>
		<div class="form-group">
			<input class="form-control form-control-transparent text-success" type="password" placeholder="Confirm Password" id="re-password"/>
		</div>
		<input class="btn btn-success btn-block" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}