{% extends "base.html" %}

{% block main_content %}	
<script type="application/javascript">
{% if request.user.is_authenticated %}
	{% if next %}
		location.href="{{ next }}"
	{% endif %}
	location.href="{% url 'home' %}"
{% endif %}
</script>
<div class="container-fluid bg-image">
	<form class="col-lg-4 col-md-6 offset-lg-4 offset-md-3 form-container" action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="h1 text-center text-success mb-md-3">Login</div>
		{% if form.errors %}
		<div class="small text-danger mb-md-1">* Invalid username or password</div>
		{% endif %}
		<div class="form-group">
			<input class="form-control form-control-transparent text-success" type="text" placeholder="Username" name="username"/>
		</div>
		<div class="form-group">
			<input class="form-control form-control-transparent text-success" type="password" placeholder="Password" name="password"/>
		</div>
		<input class="btn btn-success btn-block" type="submit" value="Submit"/>
		<a class="btn btn-link text-success text-center pt-md-1 pl-md-0">Forgot Password?</a>
	</form>
	<a href="" class="btn btn-success text-light fixed-bottom" download>Download Allotment Guidelines</a>
</div>
{% endblock %}