{% extends "base.html" %}
{% load static %}

{% block js_files %}
<script type="application/javascript" src="{% static 'gep_app/js/add_slot.js' %}"></script>
<script type="application/javascript" src="{% static 'gep_app/js/set_elective_data.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
	<div class="row">
	<nav class="col-9 navbar navbar-expand-sm navbar-light mb-3 style="background-color: transparent;"">
	  <button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Add Elective</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Edit Elective</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">View Allotment</a>
		  </li>
		</ul>
	  </div>
	</nav>
    <a class="col-3 text-right btn btn-link text-success" href="{% url 'logout' %}">Logout</a>
	</div>
	<form action="{% url 'department_home' %}" method="post">
		{% csrf_token %}
		<table class="table table-hover">
			<tbody>
				<tr>
					<td><label class="form-label" for="id_{{form.course_id.name}}">{{form.course_id.label}}</label></td>
					<td>{{ form.course_id}}{{form.course_id.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.name.name}}">{{form.name.label}}</label></td>
					<td>{{form.name}}{{form.name.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_dept">Department</label></td>
					<td><div class="form-control form-control-disabled">{{user_dept}}</div></td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.credits.name}}">{{form.credits.label}}</td>
					<td>{{form.credits}}{{form.credits.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.pre_requisites.name}}">{{form.pre_requisites.label}}</label></td>
					<td>{{form.pre_requisites}}{{form.pre_requisites.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.cot_requisite.name}}">{{form.cot_requisite.label}}</label></td>
					<td>{{form.cot_requisite}}{{form.cot_requisite.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.cgpa_cutoff.name}}">{{form.cgpa_cutoff.label}}</label></td>
					<td>{{form.cgpa_cutoff}}{{form.cgpa_cutoff.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.mode_of_allotment.name}}">{{form.mode_of_allotment.label}}</label></td>
					<td>{{form.mode_of_allotment}}{{form.mode_of_allotment.errors}}</td>
				</tr>				
			</tbody>
		</table>
		<div class="form-set">
			<div class="form-label form-label-title  text-center">Slots <input class="add-slot btn btn-success btn-small" type="button" value="+"></div>
			<table class="table table-hover">
				<tbody>
					<tr>
						<td><label class="form-label" for="id_form-0-slot">Slot</label></td>
						<td>
							<select class="form-control form-set-slot" id="id_form-0-slot">
								{% for slot in slots %}
								<option value="{{slot.0}}">{{slot.1}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td><label class="form-label" for="id_form-0-faculty">Faculty</label></td>
						<td>
							<select class="form-control form-set-faculty" id="id_form-0-faculty">
								{% for faculty in faculties %}
								<option value="{{faculty.pk}}">{{faculty.name}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="form-label form-label-title text-center">Maximum Seats Available</div>
			<table class="table table-hover">
				<tbody>
					{% for dept in depts %}
					<tr>
						<td><label class="form-label" for="id_form-0-dept-{{dept.pk}}">{{dept.name}}</label></td>
						<td><input id="id_form-0-dept-{{dept.pk}}" type=number class="form-control form-set-dept" min=0 value="0"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{{hidden_form.elective_data}}
		{{hidden_form.elective_data.errors}}
		<div class="text-center"><input id="form-submit" class="btn btn-success" type="submit" value="Submit"/></div>
	</form>
</div>
{% endblock %}