{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid">
	<a class="col-sm-12 text-right btn btn-link text-success" href="{% url 'logout' %}">Logout</a>
	<div class="h4 col-sm-12 text-center text-success">Stage 1: Submission of Academic Details</div>
	<form action="{% url 'student_home' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_user">Roll Number</label>
			<div class="form-control form-control-disabled">{{user}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_name">Name</label>
			<div class="form-control form-control-disabled">{{student_name}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_next_semester">Registering semester</label>
			{{form.next_semester}}
			{{form.next_semester.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_current_CGPA">CGPA upto previous semester</label>
			{{form.current_CGPA}}
			{{form.current_CGPA.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_required_elective_count">Number of global electives to be taken in coming semester (Including overloading)</label>
			{{form.required_elective_count}}
			{{form.required_elective_count.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_past_courses">Electives that are taken before</label>
			{{form.past_courses}}
			{{form.past_courses.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_core_slots">Slots of core courses to be taken in coming semester (Including overloading)</label>
			{{form.core_slots}}
			{{form.core_slots.errors}}
		</div>
		<input class="btn btn-success" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}