{% extends "base.html" %}
{% load static %}

{% block js_files %} 
<script type="application/javascript" src="{% static 'gep_app/js/sortable.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
	<a class="col-sm-12 text-right btn btn-link text-success" href="{% url 'logout' %}">Logout</a>
	<div class="h4 col-sm-12 text-center text-success">Stage 2: Submission of Elective Preferances</div>
	<form action="{% url 'preference_submission' %}" method="post">
		{% csrf_token %}		 
		<table class="table table-striped table-hover">
			<thead>
			<tr>
			    <th scope="col">Preference</th>
				<th scope="col">Course ID</th>
				<th scope="col">Course</th>
				<th scope="col">Department</th>
				<th scope="col">Slot</th>
				<th scope="col">Faculty</th>
			</tr>
			</thead>
			<tbody id="sortable-container">
				{% for elective in electives %}
				<tr class="sortable-element">
					<td><input name="{{elective.id}}" class="sortable-input text-center" type=number min=1 max={{electives|length}} value={{forloop.counter}}></td>
					<td>{{elective.course.course_id}}</td>
					<td>{{elective.course.name}}</td>
					<td>{{elective.course.dept.name}}</td>
					<td>{{elective.slot}}</td>
					<td>{{elective.faculty.name}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input class="btn btn-success" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}